/* Include the IBM VGA 8x16 'Code Page 437' font face */
@font-face {
    font-family: "IBM VGA 8x16";
    src: url("/WebPlus_IBM_VGA_8x16-2x.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "u0000";
    src: url("/u0000.woff2") format("woff2");
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes antirotate {
    to {
        transform: rotate(-360deg);
    }
}

.vga8 {
    /* Prefer the IBM font, but fall back for unicode characters */
    font-family: "u0000", monospace;
}

.read,
.write,
.seek,
.idle,
.waiting {
    animation: rotate linear infinite forwards;
}

.sector-read,
.sector-write,
.sector-seek,
.sector-idle,
.sector-waiting {
    animation: antirotate linear infinite forwards;
}

@keyframes slowBounceAndWobble {
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg) scale(1.2);
    }
    75% {
        transform: rotate(-20deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg);
    }
}

.slowBounceAndWobble {
    animation: slowBounceAndWobble 2.5s linear infinite forwards;
}

.block:first-child {
    border-radius: 5px 0px 0px 5px;
}

.block:last-child {
    border-radius: 0px 5px 5px 0px;
}
