@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.vga8 {
    /* Prefer the IBM font, but fall back for unicode characters */
    font-family: "u0000", monospace;
}

div[role="tree"] {
    height: 400px !important;
}

@keyframes slowBounceAndWobble {
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg) scale(1.2);
    }
    75% {
        transform: rotate(-20deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg);
    }
}

.slowBounceAndWobble {
    animation: slowBounceAndWobble 2.5s linear infinite forwards;
}

.block:first-child {
    border-radius: 5px 0px 0px 5px;
}

.block:last-child {
    border-radius: 0px 5px 5px 0px;
}
